{% load static %}
<!-- ------------------------------footer sub end---------------------------------- -->
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Abel|Lato|Open+Sans&display=swap" rel="stylesheet">
<style>
  
    /* footer */
#footer-main{
	background: #000;
	color: white;
	font-size: 0.8rem;
	padding: 2.5rem 0;
    font-family: 'Lato', sans-serif;
}

#footer-main a{
	font-size: 14px;
	display: block;
	margin: 0.3rem;
	color: grey;
}

#footer-main a:hover{
	font-weight: bold;
	color: white;
}

#footer-main h6 a{
    color: white;

    
}



#footer-main hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid white;
}

#footer-main img{
	margin-right: 0.6rem;
}
</style>

<footer id="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <a href="{% url 'core:terms-and-conditions' %}">Terms & Conditions</a>
          <a href="{% url 'core:privacy-policy' %}">Privacy Policy</a>
        </div>
        <div class="col-sm-3">
          <a href="{% url 'core:privacy-policy' %}">Contact Us: </a>
          <a href="{% url 'core:terms-and-conditions' %}">          <img class="h-size2" src="{% static 'images/hui.png' %}" alt="IMG-PAYPAL"> 00447405562102</a>
          <a href="mailto:info@spstarmall.uk">info@spstarmall.uk</a>
        
        </div>
        <div class="col-sm-3">
          <a href="#">
            <img class="h-size2" src="{% static 'images/icons/paypal.png' %}" alt="IMG-PAYPAL">
          </a>
    
          <a href="#">
            <img class="h-size2" src="{% static 'images/icons/visa.png' %}" alt="IMG-VISA">
          </a>
    
          <a href="#">
            <img class="h-size2" src="{% static 'images/icons/mastercard.png' %}" alt="IMG-MASTERCARD">
          </a>
    
          <a href="#">
            <img class="h-size2" src="{% static 'images/icons/express.png' %}" alt="IMG-EXPRESS">
          </a>
    
          <a href="#">
            <img class="h-size2" src="{% static 'images/icons/discover.png' %}" alt="IMG-DISCOVER">
          </a>
        </div>
        
      </div>
  
      <hr>
     
    </div>
  </footer>
<!-- ------------------------------footer end---------------------------------- -->

